.navbar{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.dflex{
  display: flex;
gap: 3rem;
text-decoration: none;
list-style: none;
font-weight: bold;
}


body{
  background-color: beige;
}

li:hover{
  cursor: pointer;
  color: azure;
}